@model WebAPI.Models.Podatek

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Podatek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataWpisu" class="control-label"></label>
                <input asp-for="DataWpisu" class="form-control" />
                <span asp-validation-for="DataWpisu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatDoOdliczenia" class="control-label"></label>
                <input asp-for="VatDoOdliczenia" class="form-control" />
                <span asp-validation-for="VatDoOdliczenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PitDoZaplaty" class="control-label"></label>
                <input asp-for="PitDoZaplaty" class="form-control" />
                <span asp-validation-for="PitDoZaplaty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatDoZaplaty" class="control-label"></label>
                <input asp-for="VatDoZaplaty" class="form-control" />
                <span asp-validation-for="VatDoZaplaty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZusDoZaplaty" class="control-label"></label>
                <input asp-for="ZusDoZaplaty" class="form-control" />
                <span asp-validation-for="ZusDoZaplaty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
