@model WebAPI.Models.Przychod

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Przychod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataWystawieniaFaktury" class="control-label"></label>
                <input asp-for="DataWystawieniaFaktury" class="form-control" />
                <span asp-validation-for="DataWystawieniaFaktury" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerFaktury" class="control-label"></label>
                <input asp-for="NumerFaktury" class="form-control" />
                <span asp-validation-for="NumerFaktury" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NipFirmy" class="control-label"></label>
                <input asp-for="NipFirmy" class="form-control" />
                <span asp-validation-for="NipFirmy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisFaktury" class="control-label"></label>
                <input asp-for="OpisFaktury" class="form-control" />
                <span asp-validation-for="OpisFaktury" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WartoscNetto" class="control-label"></label>
                <input asp-for="WartoscNetto" class="form-control" />
                <span asp-validation-for="WartoscNetto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WartoscVat" class="control-label"></label>
                <input asp-for="WartoscVat" class="form-control" />
                <span asp-validation-for="WartoscVat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WartoscBrutto" class="control-label"></label>
                <input asp-for="WartoscBrutto" class="form-control" />
                <span asp-validation-for="WartoscBrutto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
